Makefile.in
.deps/
Makefile
aclocal.m4
arm-oe-linux-gnueabi-libtool
autom4te.cache/
azIoTClient
azIoTClient.o
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
depcomp
install-sh
ltmain.sh
m4/
missing
stamp-h1
*.o
*.a
*.dirstamp

